

:root{
    --Tomato: hsl(4, 100%, 67%);
    
    --Dark-Slate-Grey: hsl(234, 29%, 20%);
    --Charcoal-Grey: hsl(235, 18%, 26%);
    --Grey: hsl(231, 7%, 60%);
    --White: hsl(0, 0%, 100%) ;
}
img, svg{
    max-width: 100%;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    max-height: 100vh;
}

h1{
    font-weight: 700;
}

p{
    font-weight: 400;
    
}
.container{
    display: flex;
    flex-direction: column;
}
#list1 p, #list2 p{
    margin-top: 5mm;
    line-height: 1.5rem;
} 
.right{
    padding: 2rem;
    background-color: hsl(0, 0%, 100%);
}

.svg{
    width: 1.3rem;
}

.head{
    gap: 1.5rem;
    display: flex;
    flex-direction: column;
}


.list{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    gap: 1rem;
}

#list3{
    margin-bottom: 2rem;
}

#email{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 1.5rem;
    font-weight: 700;
    font-size: 14px;
}

#Email{
    padding: 1rem;
    font-weight: 400;
    opacity: 60%;
    border-radius: 0.5rem;
    border-color: hsl(0, 0%, 100%);
    padding-left: 2rem;
    font-size: 16px;
}

.btn{
    padding: 1.3rem;
    border-radius: 0.5rem;
    text-align: center;
    align-items: center;
    margin: 0 auto;
    background-color: hsl(234, 29%, 20%);
    color: hsl(0, 0%, 100%);
    font-weight: 700;
    cursor: pointer;
}


.success{
    margin-top:5rem;
 gap: 2rem;
 display: flex;
 flex-direction: column;
}



.page{
    background-color: hsl(0, 0%, 100%);
    padding: 2rem;
    position: absolute;
 height: auto;
 margin: 0 auto;
 top:0
 
}

.btn2{
margin-top:21rem;
width: 100%;
padding: 1rem;
cursor: pointer;
}


@media screen and (min-width:978px) {
    .container{
        display: flex;
        flex-direction: row-reverse;
        margin: 0 auto;
        border-radius: 1rem;
    }

    body{
        padding: 2rem;
        background-color: hsl(235, 18%, 26%);
        padding-top: 4rem;
        display: flex;
        flex-direction: column;
    }

  .photo{
    background-color: hsl(0, 0%, 100%);
    padding: 1rem;
    margin-left: -1cm;
    border-radius: 0 1rem 1rem 0;
  }

  .right{
    border-radius: 1rem 0 0 1rem;
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 4rem;
  }

  #list1 p, #list2 p{
    margin-top: 0;
  }

  .list{
    line-height: 0px;
    margin-top: -2rem;
  }

  .lists{
    margin-top: 2rem;
  }
.btn2{
    margin-top: 0rem;
}
  .page{
    width: 400px;
    height: 500px;
    margin: 0 auto;
    top: 12%;
    left: 35%;
    border-radius: 1rem;
}
}

@media screen and (min-width:1024px) {
    
body{
    padding-top: 0;
max-height: 100%;
margin: 1rem;
overflow-y: hidden;
}

.container{
    height: 50%;
    width: 80%;
    
}
}